Repository HotoRas/misskey-neko, pull requests merged in 2024-09, with the labels that each got.

#4 migration: set IF NOT EXISTS to column creation DDL
  packages/backend/migration/1720853122058-RevRevertNoteEdit.js
  packages/backend/migration/1723585019082-noteCreatedAtMissing.js
  packages/backend/migration/1724072711475-NoteEdit.js
Labels: packages/backend

#5 Debug note edit
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#6 Neko feat/remote avatar deco
  Changelog-neko.md
  packages/backend/migration/1699432324194-remoteAvaterDecoration.js
  packages/backend/src/core/AvatarDecorationService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/AvatarDecoration.ts
  packages/backend/src/models/User.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#9 backend: Fix migration DDL
  packages/backend/migration/1720853122058-RevRevertNoteEdit.js
  packages/backend/migration/1723585019082-noteCreatedAtMissing.js
  packages/backend/migration/1724072711475-NoteEdit.js
Labels: packages/backend
